body {
  background-color: #181818;
  margin: 0%;
  color: #cbf2f2;
}
h1, h2, h3 {
  color: #1DD098;
  margin-left: 20px;
  background-color: #181818;
  border-left-style: solid;
  border-left-color: #1DD098;
  border-left-width: 6px;
  padding: 16px;
  outline-style: solid;
  outline-color: #000000;
  outline-width: 0px;
}

li {
	color: #cbf2f2;
}

img {
	max-width: 100%;
	height: auto;
}

th, td {
	padding: 10px;
	text-align: left;
}

td {
	border-bottom-style: solid;
	border-width: 1px;
	color: #cbf2f2;
}

th {
	color: #1DD098;
	background-color: #181818;
	border-left-style: solid;
	border-left-width: 6px;
	border-left-color: #1DD098;
}

table {
	border-collapse: collapse;
	width: 100%;
}

a {
	color: #cbf2f2;
}

input {
	color: #cbf2f2;
	background-color: #181818;
	border-style: solid;
}

textarea {
	color: #cbf2f2;
	background-color: #181818;
	border-style: solid;
}

* {
  box-sizing: border-box;
}

.done {
	background-color: #17ad7e;
	height: 600px;
}
.todo {
	background-color: #1DD098;
	height: 600px;
}
.item {
	background-color: #cbf2f2;
	color: black;
	border-style: solid;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}